.style1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: black;
  font-family: Times New Roman, serif;
}

.style2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: red;
  font-family: Times New Roman, serif;
}

.style2 a {
  color: red;
  text-decoration: underline;
}

.style3 {
  font-weight: bold;
  color: green;
  font-family: Times New Roman, serif;
  font-size: 16px;
}
style4{
  width: 250px;
  height: 250px;
  objecti-fit:cover;
}

body {
  background-color: white;
  font-family: Times New Roman, serif;
  margin: 20px 40px;
}

.info-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 10px;
}

.info-text p {
  margin: 10px 0;
  font-size: 14px;
  color: black;
}

.info-text p span.label {
  font-weight: bold;
  color: green;
  font-size: 16px;
}

sup {
  font-size: 0.7em;
}
